@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

:root{
    --f_texto: 'Rubik Dirt', cursive;
    --f_rodape: 'Rubik Marker Hatch', cursive;
    --f_titulos: 'Rubik Mono One', sans-serif;
    --f_menus: 'Rubik Burned', cursive;
}

body{
    min-height: 100vh;
    background-image: url(interface-4k.jpg);
    background-size: cover;
    background-attachment: fixed;

}

nav{
    padding: 2px;
    margin: 4px;
    text-align: center;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.40);
    border-radius: 20px;
}

nav > a{
    font-family: var(--f_menus);
    color: white;
    font-size: 30px;
    margin: 15px;
    text-decoration: none;
}

nav > a:hover{
    text-decoration: underline;
    color: skyblue;
    border-radius: 5px;
    transition-duration: .5s;
}

main{
    font-family: var(--f_texto);
    min-height: 100vh;
    
}

.normal{
    background-color: black;
    color: white;
}

.normal > p{
    width: 400px;
}

.imagem{
    color: black;
}

.imagem > p {
    color: white;
    width: 400px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    padding-bottom: 2em;
}

footer{
    font-family: var(--f_rodape);
    background-color: black;
    color: white;
    padding: 10px;
    margin: 130px 0px 0px 0px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.65);
}

footer > p{
    margin: 0px;
    text-align: center;
}